<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="/css/about.css">
    <link rel="shortcut icon" href="/img/weather.png">
</head>
<body>
     <div class="main-cont">
    {{>header}}
    <img class="potrait" src="/img/robot.png">
    <p>{{title}}</p></div>
    {{>footer}}


</body>
</html>