<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="/css/about.css">
    <link rel="shortcut icon" href="/img/weather.png">
</head>
<body>
     <div class="main-cont">
    {{>header}} </div>
    {{!-- <p>{{title}} is {{value}}</p> --}}
    {{>footer}}
</body>
</html>